<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644788830627-v8hs07noev25qvtqaufnrmvu1iag8per.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644788830627-v8hs07noev25qvtqaufnrmvu1iag8per</string>
	<key>API_KEY</key>
	<string>AIzaSyDNnc4n4OukAU5E3D5C69V8WV4nV8tQK30</string>
	<key>GCM_SENDER_ID</key>
	<string>644788830627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ojas-chimane.IOTAssignment2</string>
	<key>PROJECT_ID</key>
	<string>ass2-48145</string>
	<key>STORAGE_BUCKET</key>
	<string>ass2-48145.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644788830627:ios:2857acf4c3ef65fe951a16</string>
	<key>DATABASE_URL</key>
	<string>https://ass2-48145.firebaseio.com</string>
</dict>
</plist>